<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.ibpm.biz.dao.Demo01Mapper">

    <insert id="add" parameterType="com.github.ibpm.biz.model.Demo01Data">
        INSERT INTO proc_demo01_business_trip (
            BUSINESS_KEY,
            START_DATE,
            NUM,
            DESTINATION,
            TOOL,
            REASON
        )
        VALUES
        (
            #{businessKey, jdbcType=VARCHAR},
            #{startDate, jdbcType=INTEGER},
            #{num, jdbcType=INTEGER},
            #{destination, jdbcType=VARCHAR},
            #{tool, jdbcType=VARCHAR},
            #{reason, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.github.ibpm.biz.model.Demo01Data">
        UPDATE proc_demo01_business_trip
        <set>
            START_DATE = #{startDate, jdbcType=INTEGER},
            NUM = #{num, jdbcType=INTEGER},
            DESTINATION = #{destination, jdbcType=VARCHAR},
            TOOL = #{tool, jdbcType=VARCHAR},
            REASON = #{reason, jdbcType=VARCHAR},
        </set>
        <where>
            BUSINESS_KEY = #{businessKey, jdbcType=VARCHAR}
        </where>
    </update>

    <select id="get" parameterType="string" resultType="com.github.ibpm.biz.model.Demo01Data">
        SELECT * from proc_demo01_business_trip
        <where>
            BUSINESS_KEY = #{1, jdbcType=VARCHAR}
        </where>
    </select>
</mapper>