<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.ibpm.core.dao.core.JobMapper">

    <insert id="add" parameterType="com.github.ibpm.common.result.core.job.Job">
        INSERT INTO ${tablePrefix}job (
            JOB_NAME,
            DISPLAY_NAME,
            CONTENT,
            STATUS,
            UPDATE_TIME,
            REMARK
        )
        VALUES
        (
            #{jobName, jdbcType=VARCHAR},
            #{displayName, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{status, jdbcType=INTEGER},
            #{updateTime, jdbcType=INTEGER},
            #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.github.ibpm.common.result.core.job.Job">
        UPDATE ${tablePrefix}job
        <set>
            STATUS = #{status, jdbcType=INTEGER},
            UPDATE_TIME = #{updateTime, jdbcType=INTEGER},
            REMARK = #{remark, jdbcType=VARCHAR},
        </set>
        <where>
            <include refid="condJobName_"/>
        </where>
    </update>

    <update id="updateContent" parameterType="com.github.ibpm.common.result.core.job.Job">
        UPDATE ${tablePrefix}job
        <set>
            UPDATE_TIME = #{updateTime, jdbcType=INTEGER},
            CONTENT = #{content, jdbcType=VARCHAR},
        </set>
        <where>
            <include refid="condJobName_"/>
        </where>
    </update>

    <select id="get" parameterType="map" resultType="com.github.ibpm.common.result.core.job.Job">
        SELECT JOB_NAME, DISPLAY_NAME, CONTENT, STATUS, UPDATE_TIME,REMARK
        FROM ${tablePrefix}job j
        <where>
            <include refid="condJobName"/>
        </where>
    </select>

    <select id="list" parameterType="map" resultType="com.github.ibpm.common.result.core.job.Job">
        SELECT JOB_NAME, DISPLAY_NAME, STATUS, UPDATE_TIME,REMARK
        FROM ${tablePrefix}job j
        <where>
            <if test="jobName != null">
                AND LOWER(JOB_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{jobName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="displayName != null">
                AND LOWER(DISPLAY_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{displayName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="status != null &amp;&amp;status.size() &gt; 0">
                AND STATUS IN
                <foreach item="item" collection="status" open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sort == null">
                order by JOB_NAME
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <select id="versions" parameterType="map"
            resultType="com.github.ibpm.common.result.core.job.JobWithVersionResult">
        SELECT
        *
        FROM
        (SELECT
        a.JOB_NAME,
        a.DISPLAY_NAME,
        a.STATUS,
        a.REMARK,
        b.ID_ AS PROC_DEF_ID,
        b.VERSION_ AS VERSION,
        c.DEPLOY_TIME_ AS UPDATE_TIME
        FROM
        ${tablePrefix}job a
        JOIN act_re_procdef b
        ON a.JOB_NAME = b.KEY_
        JOIN act_re_deployment c
        ON b.DEPLOYMENT_ID_ = c.ID_) j
        <where>
            <include refid="condJobName"/>
        </where>
        ORDER BY VERSION
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM ${tablePrefix}job
        <where>
            JOB_NAME IN
            <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                #{jobName, jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>

    <update id="updateStatus" parameterType="map">
        UPDATE ${tablePrefix}job
        <set>
            STATUS = #{status, jdbcType=INTEGER},
        </set>
        <where>
            JOB_NAME IN
            <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                #{jobName, jdbcType=VARCHAR}
            </foreach>
        </where>
    </update>

    <sql id="condJobName">
        <if test="jobName != null">
          AND j.JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condJobName_">
        <if test="jobName != null">
            AND JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>