<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.ibpm.core.dao.core.JobMapper">

    <insert id="add" parameterType="com.github.ibpm.common.result.core.job.Job">
        INSERT INTO ${tablePrefix}job (
            JOB_NAME,
            DISPLAY_NAME,
            CONTENT,
            STATUS,
            CONCURRENT,
            ONCE,
            UPDATE_TIME,
            REMARK
        )
        VALUES
        (
            #{jobName, jdbcType=VARCHAR},
            #{displayName, jdbcType=VARCHAR},
            #{content, jdbcType=VARCHAR},
            #{status, jdbcType=INTEGER},
            #{concurrent, jdbcType=INTEGER},
            #{once, jdbcType=INTEGER},
            #{updateTime, jdbcType=INTEGER},
            #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.github.ibpm.common.result.core.job.Job">
        UPDATE ${tablePrefix}job
        <set>
            STATUS = #{status, jdbcType=INTEGER},
            CONCURRENT = #{concurrent, jdbcType=INTEGER},
            ONCE = #{once, jdbcType=INTEGER},
            UPDATE_TIME = #{updateTime, jdbcType=INTEGER},
            REMARK = #{remark, jdbcType=VARCHAR},
        </set>
        <where>
            <include refid="condJobName_"/>
        </where>
    </update>

    <update id="updateContent" parameterType="com.github.ibpm.common.result.core.job.Job">
        UPDATE ${tablePrefix}job
        <set>
            UPDATE_TIME = #{updateTime, jdbcType=INTEGER},
            CONTENT = #{content, jdbcType=VARCHAR},
        </set>
        <where>
            <include refid="condJobName_"/>
        </where>
    </update>

    <select id="get" parameterType="map" resultType="com.github.ibpm.common.result.core.job.Job">
        SELECT JOB_NAME, DISPLAY_NAME, CONTENT, CONCURRENT, ONCE, STATUS, UPDATE_TIME,REMARK
        FROM ${tablePrefix}job j
        <where>
            <include refid="condJobName"/>
        </where>
    </select>

    <select id="list" parameterType="map" resultType="com.github.ibpm.common.result.core.job.Job">
        SELECT JOB_NAME, DISPLAY_NAME, CONCURRENT, ONCE, STATUS, UPDATE_TIME,REMARK
        FROM ${tablePrefix}job j
        <where>
            <if test="jobName != null">
                AND LOWER(JOB_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{jobName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="displayName != null">
                AND LOWER(DISPLAY_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{displayName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="status != null &amp;&amp;status.size() &gt; 0">
                AND STATUS IN
                <foreach item="item" collection="status" open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sort == null">
                order by JOB_NAME
            </when>
            <otherwise>
                order by ${sort}
            </otherwise>
        </choose>
    </select>

    <select id="versions" parameterType="map"
            resultType="com.github.ibpm.common.result.core.job.JobWithVersionResult">
        SELECT
        *
        FROM
        (SELECT
        a.JOB_NAME,
        a.DISPLAY_NAME,
        a.STATUS,
        a.CONCURRENT,
        a.ONCE,
        a.REMARK,
        b.ID_ AS PROC_DEF_ID,
        b.VERSION_ AS VERSION,
        c.DEPLOY_TIME_ AS UPDATE_TIME
        FROM
        ${tablePrefix}job a
        JOIN act_re_procdef b
        ON a.JOB_NAME = b.KEY_
        JOIN act_re_deployment c
        ON b.DEPLOYMENT_ID_ = c.ID_) j
        <where>
            <include refid="condJobName"/>
        </where>
        ORDER BY VERSION
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM ${tablePrefix}job
        <where>
            JOB_NAME IN
            <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                #{jobName, jdbcType=VARCHAR}
            </foreach>
        </where>
    </delete>

    <update id="updateStatus" parameterType="map">
        UPDATE ${tablePrefix}job
        <set>
            STATUS = #{status, jdbcType=INTEGER},
        </set>
        <where>
            JOB_NAME IN
            <foreach item="jobName" collection="jobNames" open="(" separator="," close=")">
                #{jobName, jdbcType=VARCHAR}
            </foreach>
        </where>
    </update>

    <select id="listArg" parameterType="map"
            resultType="com.github.ibpm.common.result.core.job.ArgAllocatedResult">
        SELECT ARG_NAME, ARG_TYPE, ARG_VALUE, ALLOCATED
        FROM (
        SELECT t.*, 1 AS ALLOCATED FROM ${tablePrefix}arg t
        WHERE ARG_NAME IN
        (
        SELECT ar.ARG_NAME
        FROM ${tablePrefix}arg ar JOIN ${tablePrefix}job_arg j ON ar.ARG_NAME = j.ARG_NAME
        <where>
            <include refid="condJobName"/>
        </where>
        )
        UNION ALL
        SELECT t.*, 0 AS ALLOCATED FROM ${tablePrefix}arg t
        WHERE ARG_NAME NOT IN
        (
        SELECT ar.ARG_NAME
        FROM ${tablePrefix}arg ar JOIN ${tablePrefix}job_arg j ON ar.ARG_NAME = j.ARG_NAME
        <where>
            <include refid="condJobName"/>
        </where>
        )
        ) a
        <where>
            <if test="argName != null">
                AND LOWER(ARG_NAME) LIKE CONCAT(CONCAT('%', LOWER(#{argName, jdbcType=VARCHAR})), '%')
            </if>
            <if test="argType != null">
                AND ARG_TYPE = #{argType, jdbcType = INTEGER}
            </if>
            <if test="argValue != null">
                AND LOWER(ARG_VALUE) LIKE CONCAT(CONCAT('%', LOWER(#{argValue, jdbcType = VARCHAR})), '%')
            </if>
        </where>
    </select>

    <select id="getArg" parameterType="map"
            resultType="com.github.ibpm.common.result.core.arg.Arg">
        SELECT
        a.*
        FROM
        ${tablePrefix}arg a
        JOIN ${tablePrefix}job_arg ja ON a.ARG_NAME = ja.ARG_NAME
        JOIN ${tablePrefix}job j ON j.JOB_NAME = ja.JOB_NAME
        <where>
            <include refid="condJobName"/>
        </where>
    </select>

    <insert id="addArg" parameterType="map">
      INSERT INTO ${tablePrefix}job_arg (
          JOB_NAME,
          ARG_NAME
        )
        VALUES
          (
            #{jobName, jdbcType=VARCHAR},
            #{argName, jdbcType=VARCHAR}
          )
    </insert>

    <delete id="deleteArg" parameterType="map">
        DELETE FROM ${tablePrefix}job_arg
        <where>
            <include refid="condJobName_"/>
            <if test="argName != null">
                AND ARG_NAME = #{argName, jdbcType=VARCHAR}
            </if>
        </where>
    </delete>

    <insert id="addJobArg" parameterType="java.util.Map">
        INSERT INTO ${tablePrefix}job_arg (
        JOB_NAME,
        ARG_NAME
        )
        VALUES
        <foreach item="argName" collection="argNames" separator=",">
            (
            #{jobName, jdbcType=VARCHAR},
            #{argName, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <insert id="addJobArg" databaseId="oracle" parameterType="java.util.Map">
        INSERT INTO ${tablePrefix}job_arg (
        JOB_NAME,
        ARG_NAME
        )
        SELECT
        * FROM
        (
        <foreach item="argName" collection="argNames" separator="union">
            SELECT
            #{jobName, jdbcType=VARCHAR},
            #{argName, jdbcType=VARCHAR}
            FROM dual
        </foreach>
        )
    </insert>

    <delete id="deleteJobArg" parameterType="java.util.Map">
        DELETE FROM ${tablePrefix}job_arg
        <where>
            <include refid="condJobName_"/>
            <if test="argName != null">
                AND ARG_NAME in
                <foreach item="argName" collection="argNames" open="(" separator="," close=")">
                    #{argName, jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </delete>

    <sql id="condJobName">
        <if test="jobName != null">
          AND j.JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="condJobName_">
        <if test="jobName != null">
            AND JOB_NAME = #{jobName, jdbcType=VARCHAR}
        </if>
    </sql>

</mapper>